.coditsu/local.yml
.env
/config/deploy/**/*.yml
/config/deploy/**/config/**
/config/deploy/**/*.rb
/.irb-history
/.bundle
/vendor/bundle/
/vendor/ruby/
/ruby/
db/*.sqlite3
/log/*.log
/db/repositories/*
/tmp/*
**.war
*.rbc
*.sassc
.byebug_history
.redcar/
.sass-cache
/config/puma.rb
/config/*.yml
/config/secrets.yml
/config/databases/*.yml
/coverage.data
/db/*.javadb/
/db/*.sqlite3
/doc/api/
/doc/app/
/doc/yard
/doc/features.html
/doc/specs.html
/public/ruby/*
/public/cache
/public/recent_dump.txt
/public/assets
/public/sitemap
/public/images
/public/uploads/*
/public/sitemap.xml.gz
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/vendor
/coverage
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
**.orig
.DS_Store
/nbproject
.idea
/*.tmproj
**.swp
.yardoc
download

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
