app_path = File.expand_path(File.dirname(File.dirname(__FILE__)))

environment ENV.fetch("RAILS_ENV") { 'development' }

threads 4,8
workers 1

stdout_redirect "#{app_path}/log/puma_access.log", "#{app_path}/log/puma_error.log"
