defaults: &defaults
  client_id: offending_sources

  errbit:
    project_id: <%= 1 %>
    project_key: 'project_key'
    host: 'https://host'

  kafka:
    seed_brokers: <%= %w( 172.17.0.2:9092 ) %>
    offset_commit_threshold: 1

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
